<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-lt" style="width: 280px">
	<a
		href="/"
		class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none"
	>
		<svg class="bi pe-none me-2" width="40" height="32"></svg>
		<span class="fs-4">Links</span>
	</a>
	<hr />
	<ul class="nav nav-pills flex-column mb-auto">
		<li>
			<a
				href="https://benesyst.sharepoint.com/sites/BeneficialSystems"
				class="nav-link text-blue"
				target="_blank"
			>
				<svg class="bi pe-none me-2" width="16" height="16"></svg>
				BEA Sharepoint
			</a>
		</li>
		<li>
			<a
				href="https://www.estes-express.com/myestes/terminal-lookup/"
				class="nav-link text-blue"
				target="_blank"
			>
				<svg class="bi pe-none me-2" width="16" height="16"></svg>
				Estes
			</a>
		</li>
		<li>
			<a
				href="https://www.odfl.com/us/en/tools/service-center-locator.html"
				class="nav-link text-blue"
				target="_blank"
			>
				<svg class="bi pe-none me-2" width="16" height="16"></svg>
				ODFL
			</a>
		</li>
		<li>
			<a
				href="http://www.saiasecure.com/locations/b_default.asp?UID=&PWD=&SID="
				class="nav-link text-blue"
				target="_blank"
			>
				<svg class="bi pe-none me-2" width="16" height="16"></svg>
				SAIA
			</a>
		</li>
		<li>
			<a href="https://www.pei.org/wiki/index" class="nav-link text-blue" target="_blank">
				<svg class="bi pe-none me-2" width="16" height="16"></svg>
				PEI
			</a>
		</li>
		<li>
			<a
				href="https://www.google.com/maps/d/u/0/edit?mid=1ue0oilIeV2C086xF1J5mMvufwgA&ll=30.86237350764841%2C-84.84761219410393&z=4"
				class="nav-link text-blue"
				target="_blank"
			>
				<svg class="bi pe-none me-2" width="16" height="16"></svg>
				Servicer Location Map
			</a>
		</li>
		<hr />
		<h4>Vendors Links</h4>
		<li>
			<div class="vendors">
				<select
					name="vendorLinks"
					id="vendorLinks"
					onchange="window.location=this.options[this.selectedIndex].value"
				>
					<option value="https://partnerportal.graco.com/login">Graco</option>
					<option
						value="https://www.opwglobal.com/login?ReturnUrl=https%3a%2f%2fwww.opwglobal.com%2fopw-fms%2fresources%2fdistributors-portal"
					>
						OPW Portal
					</option>
					<option value="selectOption" name="selectOption" selected disabled hidden>
						Select Option
					</option>
				</select>
			</div>
		</li>
	</ul>
</div>
