<!-- WEATHER API -->

<div class="container">
	<!-- <h3>The weather today is</h3> 
						  SHOW WEATHER/FORECAST -->

	<!-- <img src="/images/weather1.jpg" alt="" /> -->

	<img src="" alt="" srcset="" id="weather-icon" />
	<div id="location">Unable to Fetch Weather</div>
	<div class="desc">No Information Available</div>
	<div class="weather">
		<div class="circle"></div>
		<div class="f">Error</div>
		<div id="tempMax"></div>
		<div id="tempMin"></div>
	</div>
</div>
