.items h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

.items:empty {
	display: none;
}

div {
	text-align: center;
}

p {
	color: #00008b;
}

body {
	background-color: #95c2de;
}

.mainbox {
	background-color: #95c2de;
	margin: auto;
	height: 600px;
	width: 600px;
	position: relative;
}

.err {
	color: #ffffff;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 11rem;
	position: fixed;
	left: 20%;
	top: 8%;
}

.far {
	position: fixed;
	font-size: 8.5rem;
	left: 42%;
	top: 15%;
	color: #ffffff;
}

.err2 {
	color: #ffffff;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 11rem;
	position: fixed;
	left: 68%;
	top: 8%;
}

.msg {
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.6rem;
	position: fixed;
	left: 16%;
	top: 45%;
	width: 75%;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}

.danger {
	color: red;
}

#beaLogo {
	top: 0;
	left: 15%;
	object-fit: contain;
	object-position: left top;
	width: 20%;
	height: 20%;
}

.indexTable {
	table-layout: fixed;
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
}

tbody {
	margin: 0 0 0 0;
}

.containerWrap {
	width: 100%;
}

.tableTr {
	width: 100%;
}

.mainTd {
	position: fixed;
	top: 0;
	left: 5%;
	object-position: top left;
	width: 25%;
	top: 0px;
}

.mainTr {
	object-position: top left;
	position: fixed;
	top: 0%;
	right: 85%;
	left: 20%;
	width: 100%;
}

tbody {
	top: 0px;
}

.searchTr {
	position: fixed;
	top: 60%;
	right: 85%;
	left: 15%;
	width: 100%;
}

.welcomeTd {
	position: fixed;
	left: 0%;
	width: 100%;
}

.sidebar {
	width: 15%;
}

footer {
	position: fixed;
	left: 20%;
	right: 20%;
	bottom: 0;
}

.bodyTable {
	width: 100%;
}

.indexSep {
	position: fixed;
	top: 55%;
	right: 85%;
	left: 15%;
	width: 100%;
}

.mainBody {
	top: 0;
}

.bodyTable {
	top: 0;
}

.editButton {
	position: absolute;
	right: 0%;
	top: 0%;
}
